.main-page {
  h1 {
    font-size: 80pt;
    span{
      margin-left: 30%;
      animation: fadeIn 2s ease-in 0s backwards;
    }
    span:nth-child(2){
      font-size: 90pt;
      margin-left: 35%;
      animation: fadeIn 2s ease-in 1s backwards;
    }
    span:nth-child(3){
      font-size: 70pt;
      margin-left: 40%;
      animation: fadeIn 2s ease-in 2s backwards;
    }
  }
  h2 {
    font-size: 4em;
  }
}


.about {
  min-height: 2500px;
  .about-title-container {
    a {
      font-size: 75pt;
    }
  }
  .my-pic-container {
    width: 40%;
    max-width: 400px;
    margin: auto;
  }
  .about-bio-container {
    font-size: 25pt;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.projects {
  .gallery {
    max-width: 800px;
    .gallery-cell {
      height: 500px;
      img {
        height: 400px;
      }
    }
  }
}

.contact {
  h1 {
    font-size: 5.5em;
  }
  .social-media {
    //position: relative;
    //top: 60px;
    //text-align: center;
    .fa {
      //padding-top: 10px;
      //padding-bottom: 0;
      font-size: 80px;
      width: 100px;
      height: 100px;
      //text-align: center;
      //text-decoration: none;
      //margin: 0 5px 0 5px;
      //&:hover {
        //opacity: 0.7;
      //}
    }
  }
}
