body {
  background-color: #191919;
  color: white;
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
  color: #c1c1c1;
  padding: 10px;
}
a:hover {
  background-color: #ddd;
  color: black;
}

.topnav {
  width: 102%;
  margin-top: -10px;
  position: fixed;
  background-color: black;
  z-index: 1;
}
.topnav ul {
  width: 95%;
  text-align: right;
}
.topnav li {
  display: inline;
  padding: 5px;
}

.main-page {
  position: fixed;
  width: 100%;
  z-index: 0;
}
.main-page .title-container {
  width: 50%;
  margin-left: 10%;
  margin-top: 100px;
  display: inline-block;
}
.main-page .title-container .title {
  font-size: 70pt;
  float: left;
}
.main-page .title-container #unique {
  float: left;
}
.main-page .title-container #digital {
  clear: left;
}
.main-page .title-container #creations {
  clear: left;
}
.main-page .title-container #e {
  margin-left: 40px;
}
.main-page .title-container #u2 {
  margin-left: 35px;
}
.main-page .title-container #q {
  margin-left: 30px;
}
.main-page .title-container #i {
  margin-left: 25px;
}
.main-page .title-container #n {
  margin-left: 20px;
}
.main-page .title-container #u {
  margin-left: 15px;
}
.main-page .my-pic-container {
  width: 40%;
  display: inline-block;
  float: right;
}

.my-pic {
  width: 75%;
}

.about {
  position: absolute;
  width: 100%;
  background: white;
  height: 800px;
  top: 800px;
  color: black;
}
.about .about-title-container {
  width: 20%;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  float: left;
}
.about .about-title-container h1 {
  font-size: 70pt;
}
.about .about-bio-container {
  width: 40%;
  padding-right: 30px;
  padding-top: 30px;
  float: right;
}
.about .about-bio-container #emphasis {
  font-size: 20pt;
  line-height: 40px;
}
.about .about-bio-container #non-emphasis {
  font-size: 15pt;
  line-height: 40px;
}
